<p-scrollPanel #scrollActivarUser [style]="{width: '100%', height: '100vh'}" styleClass="custom">
    <!-- Notificaciones -->
    <p-toast></p-toast>

    <!-- AUser -->
    <div class="section activateUser">
        <!-- Container -->
        <div class="mdl-grid row justify-content-center">
            <!-- Main -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="blog-content" style="background: #ffffff3b;padding: 10px;">
                    <!-- reply form -->
                    <div class="reply-form">
                        <h1 class="title textWhite font-40px">{{sesionService.msg.lbl_summary_info}}</h1>
                        <h3 class="title textWhite font-20px">{{mensajeMostrar}}</h3>
                        <p-messages></p-messages>
                    </div>
                    <!-- /reply form -->
                </div>
            </div>
            <!-- /Main -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /AUser -->

    <!-- FOOTER -->
    <app-footer></app-footer>
    <!-- FOOTER -->

</p-scrollPanel>