<header style="background-image: url('assets/images/banner.jpg');">
    <!-- Nav -->
    <nav id="nav" class="navbar nav-transparent">
        <div class="container">
            <div class="navbar-header">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a href="index.html">
                        <img class="logo" src="assets/images/logo.png" alt="logo">
                        <img class="logo-alt" src="assets/images/logo.png" alt="logo">
                    </a>
                </div>
                <!-- /Logo -->
                <!-- Collapse nav button -->
                <div (click)="mostrarOcultarMenuBlog()" class="nav-collapse textHoverRed menu">
                    <i class="list--buttons pi pi-ellipsis-v font-20px"></i>
                </div>
                <!-- /Collapse nav button -->
            </div>

            <!--  Main navigation  -->
            <ul class="main-nav nav navbar-nav navbar-right">
                <li class="has-dropdown"><a>{{sesionService.msg.lbl_idioma}}</a>
                    <ul class="dropdown" style="width: 50px;">
                        <li>
                            <a (click)="sesionService.cambiarIdioma(0)">
                                <img class="w100 cursorPointer" src="assets/images/idiomaEspanol.png"
                                    style="height: 20px;" />
                            </a>
                        </li>
                        <li>
                            <a (click)="sesionService.cambiarIdioma(1)">
                                <img class="w100 cursorPointer" src="assets/images/idiomaIngles.png"
                                    style="height: 20px;" />
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="#home">{{sesionService.msg.lbl_inicio}}</a></li>
                <li><a (click)="redirigirBlogsBlog()">{{sesionService.msg.lbl_blog}}</a></li>
                <li *ngIf="esUsuarioLogueadoActivoBlog()" class="has-dropdown displayFlex">
                    <img class="imagePerfil" [src]="obtenerArchivoSanitizadoDeMapa(usuarioAutorTBLogin.urlImagen)" />
                    <a>{{usuarioAutorTBLogin.usuario}}</a>
                    <ul class="dropdown">
                        <li><a (click)="cerrarSesionBlog()">{{sesionService.msg.lbl_tip_cerrar_sesion}}</a></li>
                        <li><a (click)="abrirModalUpdateUserBlog()">{{sesionService.msg.lbl_actualizar_usuario}}</a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="!esUsuarioLogueadoActivoBlog()"><a id="loginBlog"
                        (click)="abrirModalLogin()">{{sesionService.msg.lbl_login}}</a>
                </li>
                <li *ngIf="!esUsuarioLogueadoActivoBlog()"><a id="registerBlog"
                        (click)="abrirModalRegister()">{{sesionService.msg.lbl_btn_registrarse}}</a>
                </li>
            </ul>
            <!-- /Main navigation -->

            <!-- Modals Login/Register -->
            <p-dialog [showHeader]="true" (onHide)="limpiarModales($event)" header="{{sesionService.msg.lbl_login}}"
                [(visible)]="disModLogin" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000"
                [draggable]="false" [resizable]="false" [closable]="true">
                <div class="reply-form">
                    <div *ngIf="!loginRestaurar" class="row justify-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBLogin.usuario"
                                placeholder="{{sesionService.msg.lbl_header_usuario}}" maxlength="10" />
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="password" pInputText [(ngModel)]="usuarioAutorTBLogin.password"
                                placeholder="{{sesionService.msg.lbl_header_clave}}" />
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <p-button label="{{sesionService.msg.lbl_btn_ingresar}}" (click)="login()" icon="pi pi-key"
                                styleClass="main-btn font-20px">
                            </p-button>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <label class="textPlata">{{sesionService.msg.lbl_btn_olvidaste_tu_clave}}
                                <span (click)="toggleRestaurarLogin()"
                                    class="cursorPointer textWhite textHoverRed">{{sesionService.msg.lbl_btn_restaurar_clave}}</span>
                            </label>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <p-messages></p-messages>
                        </div>
                    </div>

                    <div *ngIf="loginRestaurar" class="row justify-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBLogin.usuario"
                                placeholder="{{sesionService.msg.lbl_header_usuario}}" maxlength="10" />
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <p-button label="{{sesionService.msg.lbl_btn_restaurar_clave}}" (click)="restaurarClave()"
                                icon="pi pi-key" styleClass="main-btn font-20px">
                            </p-button>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <label class="textPlata">{{sesionService.msg.lbl_btn_olvidaste_tu_clave}}
                                <span (click)="toggleRestaurarLogin()"
                                    class="cursorPointer textWhite textHoverRed">{{sesionService.msg.lbl_login}}</span>
                            </label>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <p-messages></p-messages>
                        </div>
                    </div>
                </div>
            </p-dialog>

            <p-dialog [showHeader]="true" (onHide)="limpiarModales($event)"
                header="{{esRegistro ? sesionService.msg.lbl_register : sesionService.msg.lbl_actualizar_usuario}}"
                [(visible)]="disModRegistrar" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000"
                [draggable]="false" [resizable]="false" [closable]="true">
                <div class="reply-form">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <div *ngIf="!mostrarImagenRegister" class="choose-files" (click)="startUpload()">
                                <i class="pi pi-plus-circle font-40px"></i>
                            </div>
                            <div *ngIf="mostrarImagenRegister" class="choose-files no-padding">
                                <img *ngIf="srcImagenRegister !== undefined && srcImagenRegister !== null" class="w100"
                                    [src]="esRegistro ? srcImagenRegister : obtenerArchivoSanitizadoDeMapa(usuarioAutorTBRegister.urlImagen)"
                                    style="height: 196px;" />
                                <i class="pi pi-times font-20px cerrarImagen" (click)="limpiarAdjuntos($event)"></i>
                            </div>
                            <p-fileUpload #fileInputRegister mode="basic" name="archivosTemporales[]"
                                customUpload="true" (uploadHandler)="handlerUpload($event)" accept="image/*"
                                maxFileSize="750000" (onClear)="limpiarAdjuntos($event)"
                                chooseLabel="{{sesionService.msg.lbl_btn_escoger_archivo}}"
                                uploadLabel="{{sesionService.msg.lbl_btn_subir_archivos}}"
                                cancelLabel="{{sesionService.msg.lbl_btn_cancelar}}"
                                invalidFileSizeMessageSummary="{{sesionService.msg.lbl_summary_danger}}"
                                invalidFileSizeMessageDetail="{{sesionService.msg.lbl_mensaje_file_detail_size}}"
                                invalidFileTypeMessageSummary="{{sesionService.msg.lbl_summary_danger}}"
                                invalidFileTypeMessageDetail="{{sesionService.msg.lbl_mensaje_file_detail_type}}">
                            </p-fileUpload>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login"
                            style="padding-bottom: 0 !important">
                            <textarea pInputTextarea [(ngModel)]="usuarioAutorTBRegister.resena"
                                placeholder="{{sesionService.msg.lbl_header_resena}}"></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.nombres"
                                placeholder="{{sesionService.msg.lbl_header_nombre}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.apellidos"
                                placeholder="{{sesionService.msg.lbl_header_apellido}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.usuario"
                                placeholder="{{sesionService.msg.lbl_header_usuario}}" maxlength="10">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="email" pInputText [(ngModel)]="usuarioAutorTBRegister.correo"
                                placeholder="{{sesionService.msg.lbl_header_correo}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <p-calendar placeholder="{{sesionService.msg.lbl_header_fecha_nacimiento}}"
                                [(ngModel)]="usuarioAutorTBRegister.fechaNacimiento"></p-calendar>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding-form-login">
                            <div class="bgReg">
                                <ng-select notFoundText="{{sesionService.msg.lbl_mensaje_no_info_select}}"
                                    [(ngModel)]="usuarioAutorTBRegister.genero" [items]="enumGenero">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="password" pInputText
                                [(ngModel)]="usuarioAutorTBRegister.password"
                                placeholder="{{sesionService.msg.lbl_header_clave}}">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="password" pInputText [(ngModel)]="repeatPassword"
                                placeholder="{{sesionService.msg.lbl_header_repetir_clave}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.linkFbook"
                                placeholder="{{sesionService.msg.lbl_link_f}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText
                                [(ngModel)]="usuarioAutorTBRegister.linkInstagram"
                                placeholder="{{sesionService.msg.lbl_link_i}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.linkGoogle"
                                placeholder="{{sesionService.msg.lbl_link_g}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.linkTwitter"
                                placeholder="{{sesionService.msg.lbl_link_t}}">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <p-button
                                label="{{esRegistro ? sesionService.msg.lbl_btn_registrarse : sesionService.msg.lbl_btn_actualizar}}"
                                (click)="crearActualizarUsuarioEutanasico(esRegistro)" icon="pi pi-user-plus"
                                styleClass="main-btn font-20px"></p-button>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <p-messages></p-messages>
                        </div>
                    </div>
                </div>
            </p-dialog>
            <!-- /Modals Login/Register -->
        </div>
    </nav>
    <!-- /Nav -->

    <!-- header wrapper -->
    <div class="header-wrapper sm-padding fondoBanner">
        <div class="container">
            <h2></h2>
        </div>
    </div>
    <!-- /header wrapper -->

    <!-- Menú Responsive -->
    <div id="accordian" *ngIf="showMenuMovil">
        <ul class="menuMovil">
            <li>
                <ul>
                    <li><a href="#home"><i
                                class="pi pi-home font-12px iconMovilPad"></i>{{sesionService.msg.lbl_inicio}}</a>
                    </li>
                    <li>
                        <a (click)="redirigirBlogsBlog()">
                            <i class="pi pi-comments font-12px iconMovilPad"></i>
                            {{sesionService.msg.lbl_blog}}
                        </a>
                    </li>
                    <li *ngIf="esUsuarioLogueadoActivoBlog()">
                        <a>
                            <i class="pi pi-users font-12px iconMovilPad"></i>
                            {{usuarioAutorTBLogin.usuario}}
                        </a>
                    </li>
                    <li *ngIf="esUsuarioLogueadoActivoBlog()">
                        <a (click)="abrirModalUpdateUserBlog()">
                            <i class="pi pi-user-edit font-12px iconMovilPad"></i>
                            {{sesionService.msg.lbl_actualizar_usuario}}
                        </a>
                    </li>
                    <li *ngIf="esUsuarioLogueadoActivoBlog()">
                        <a (click)="cerrarSesionBlog()">
                            <i class="pi pi-power-off font-12px iconMovilPad"></i>
                            {{sesionService.msg.lbl_tip_cerrar_sesion}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /Menú Responsive -->
</header>