<!-- Header -->
<header id="home">
    <video controlslist="nodownload" autoplay [muted]="true" (play)="mostrarTextoHeader($event)" id="myVideo">
        <source src="assets/video/hasta-el-final.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <!-- Background Image -->
    <div class="bg-img" style="background-image: url('assets/images/fondo2.jpg');">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->

    <!-- Nav -->
    <nav id="nav" class="navbar nav-transparent">
        <div class="container">
            <div class="navbar-header">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a href="index.html">
                        <img class="logo" style="margin: 0 40px;" src="assets/images/logo.png" alt="logo">
                        <img class="logo-alt" style="margin: 0 40px;" src="assets/images/logo.png" alt="logo">
                    </a>
                </div>
                <!-- /Logo -->
                <!-- Collapse nav button -->
                <div (click)="mostrarOcultarMenu()" class="nav-collapse textHoverRed menu">
                    <i class="list--buttons pi pi-ellipsis-v font-20px"></i>
                </div>
                <!-- /Collapse nav button -->
            </div>

            <!--  Main navigation  -->
            <ul class="main-nav nav navbar-nav navbar-right">
                <li class="has-dropdown"><a>{{sesionService.msg.lbl_idioma}}</a>
                    <ul class="dropdown" style="width: 50px;">
                        <li>
                            <a (click)="sesionService.cambiarIdioma(0)">
                                <img class="w100 cursorPointer" src="assets/images/idiomaEspanol.png"
                                    style="height: 20px;" />
                            </a>
                        </li>
                        <li>
                            <a (click)="sesionService.cambiarIdioma(1)">
                                <img class="w100 cursorPointer" src="assets/images/idiomaIngles.png"
                                    style="height: 20px;" />
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="#home">{{sesionService.msg.lbl_inicio}}</a></li>
                <li><a href="#about">{{sesionService.msg.lbl_bio}}</a></li>
                <li><a href="#team">{{sesionService.msg.lbl_banda}}</a></li>
                <li><a href="#portfolio">{{sesionService.msg.lbl_galeria_media}}</a></li>
                <li><a href="#service">{{sesionService.msg.lbl_participaciones}}</a></li>
                <li><a href="#pricing">{{sesionService.msg.lbl_comparte}}</a></li>
                <li><a href="#publicaciones">{{sesionService.msg.lbl_ultimas_publicaciones}}</a></li>
                <li><a (click)="redirigirBlogs()">{{sesionService.msg.lbl_blog}}</a></li>
                <li *ngIf="!esUsuarioLogueado()" class="has-dropdown"><a>{{sesionService.msg.lbl_registro_ingreso}}</a>
                    <ul class="dropdown">
                        <li><a (click)="abrirModalLogin()">{{sesionService.msg.lbl_login}}</a></li>
                        <li><a id="registerUser" (click)="abrirModalRegister()">{{sesionService.msg.lbl_register}}</a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="esUsuarioLogueado()" class="has-dropdown displayFlex">
                    <img class="imagePerfil" [src]="obtenerArchivoSanitizadoDeMapa(usuarioAutorTBLogin.urlImagen)" />
                    <a>{{usuarioAutorTBLogin.usuario}}</a>
                    <ul class="dropdown">
                        <li><a (click)="cerrarSesion()">{{sesionService.msg.lbl_tip_cerrar_sesion}}</a></li>
                        <li><a *ngIf="esUsuarioLogueadoActivo()"
                                (click)="abrirModalUpdateUser()">{{sesionService.msg.lbl_actualizar_usuario}}</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /Main navigation -->

            <!-- Modals Login/Register -->
            <p-dialog [showHeader]="true" (onHide)="limpiarModales($event)" header="{{sesionService.msg.lbl_login}}"
                [(visible)]="disModLogin" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000"
                [draggable]="false" [resizable]="false" [closable]="true">
                <div class="reply-form">
                    <div *ngIf="!loginRestaurar" class="row justify-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBLogin.usuario"
                                placeholder="{{sesionService.msg.lbl_header_usuario}}" maxlength="10" />
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="password" pInputText [(ngModel)]="usuarioAutorTBLogin.password"
                                placeholder="{{sesionService.msg.lbl_header_clave}}" />
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <p-button label="{{sesionService.msg.lbl_btn_ingresar}}" (click)="login()" icon="pi pi-key"
                                styleClass="main-btn font-20px">
                            </p-button>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <label class="textPlata">{{sesionService.msg.lbl_btn_olvidaste_tu_clave}}
                                <span (click)="toggleRestaurarLogin()"
                                    class="cursorPointer textWhite textHoverRed">{{sesionService.msg.lbl_btn_restaurar_clave}}</span>
                            </label>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <p-messages></p-messages>
                        </div>
                    </div>

                    <div *ngIf="loginRestaurar" class="row justify-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBLogin.usuario"
                                placeholder="{{sesionService.msg.lbl_header_usuario}}" maxlength="10" />
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <p-button label="{{sesionService.msg.lbl_btn_restaurar_clave}}" (click)="restaurarClave()"
                                icon="pi pi-key" styleClass="main-btn font-20px">
                            </p-button>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <label class="textPlata">{{sesionService.msg.lbl_btn_olvidaste_tu_clave}}
                                <span (click)="toggleRestaurarLogin()"
                                    class="cursorPointer textWhite textHoverRed">{{sesionService.msg.lbl_login}}</span>
                            </label>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <p-messages></p-messages>
                        </div>
                    </div>
                </div>
            </p-dialog>

            <p-dialog [showHeader]="true" (onHide)="limpiarModales($event)"
                header="{{esRegistro ? sesionService.msg.lbl_register : sesionService.msg.lbl_actualizar_usuario}}"
                [(visible)]="disModRegistrar" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000"
                [draggable]="false" [resizable]="false" [closable]="true">
                <div class="reply-form">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <div *ngIf="!mostrarImagenRegister" class="choose-files" (click)="startUpload()">
                                <i class="pi pi-plus-circle font-40px"></i>
                            </div>
                            <div *ngIf="mostrarImagenRegister" class="choose-files no-padding">
                                <img *ngIf="srcImagenRegister !== undefined && srcImagenRegister !== null" class="w100"
                                    [src]="esRegistro ? srcImagenRegister : obtenerArchivoSanitizadoDeMapa(usuarioAutorTBRegister.urlImagen)"
                                    style="height: 196px;" />
                                <i class="pi pi-times font-20px cerrarImagen" (click)="limpiarAdjuntos($event)"></i>
                            </div>
                            <p-fileUpload #fileInputRegister mode="basic" name="archivosTemporales[]"
                                customUpload="true" (uploadHandler)="handlerUpload($event)" accept="image/*"
                                maxFileSize="750000" (onClear)="limpiarAdjuntos($event)"
                                chooseLabel="{{sesionService.msg.lbl_btn_escoger_archivo}}"
                                uploadLabel="{{sesionService.msg.lbl_btn_subir_archivos}}"
                                cancelLabel="{{sesionService.msg.lbl_btn_cancelar}}"
                                invalidFileSizeMessageSummary="{{sesionService.msg.lbl_summary_danger}}"
                                invalidFileSizeMessageDetail="{{sesionService.msg.lbl_mensaje_file_detail_size}}"
                                invalidFileTypeMessageSummary="{{sesionService.msg.lbl_summary_danger}}"
                                invalidFileTypeMessageDetail="{{sesionService.msg.lbl_mensaje_file_detail_type}}">
                            </p-fileUpload>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login"
                            style="padding-bottom: 0 !important">
                            <textarea pInputTextarea [(ngModel)]="usuarioAutorTBRegister.resena"
                                placeholder="{{sesionService.msg.lbl_header_resena}}"></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.nombres"
                                placeholder="{{sesionService.msg.lbl_header_nombre}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.apellidos"
                                placeholder="{{sesionService.msg.lbl_header_apellido}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.usuario"
                                placeholder="{{sesionService.msg.lbl_header_usuario}}" maxlength="10">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="email" pInputText [(ngModel)]="usuarioAutorTBRegister.correo"
                                placeholder="{{sesionService.msg.lbl_header_correo}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <p-calendar placeholder="{{sesionService.msg.lbl_header_fecha_nacimiento}}"
                                [(ngModel)]="usuarioAutorTBRegister.fechaNacimiento"></p-calendar>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding-form-login">
                            <div class="bgReg">
                                <ng-select notFoundText="{{sesionService.msg.lbl_mensaje_no_info_select}}"
                                    [(ngModel)]="usuarioAutorTBRegister.genero" [items]="enumGenero">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="password" pInputText
                                [(ngModel)]="usuarioAutorTBRegister.password"
                                placeholder="{{sesionService.msg.lbl_header_clave}}">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="password" pInputText [(ngModel)]="repeatPassword"
                                placeholder="{{sesionService.msg.lbl_header_repetir_clave}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.linkFbook"
                                placeholder="{{sesionService.msg.lbl_link_f}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText
                                [(ngModel)]="usuarioAutorTBRegister.linkInstagram"
                                placeholder="{{sesionService.msg.lbl_link_i}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.linkGoogle"
                                placeholder="{{sesionService.msg.lbl_link_g}}">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                            <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.linkTwitter"
                                placeholder="{{sesionService.msg.lbl_link_t}}">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <p-button
                                label="{{esRegistro ? sesionService.msg.lbl_btn_registrarse : sesionService.msg.lbl_btn_actualizar}}"
                                (click)="crearActualizarUsuarioEutanasico(esRegistro)" icon="pi pi-user-plus"
                                styleClass="main-btn font-20px"></p-button>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                            <p-messages></p-messages>
                        </div>
                    </div>
                </div>
            </p-dialog>
            <!-- /Modals Login/Register -->
        </div>
    </nav>
    <!-- /Nav -->

    <!-- home wrapper -->
    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <!-- home content -->
                <div class="col-md-10 col-md-offset-1">
                    <div id="mostrarTextHeader" [@fadeIn]="fadeIn" class="home-content displayNone">
                        <h1 class="white-text">Ahora Mismo Estamos Haciendo Música...</h1>
                        <p class="white-text">"Mi cabeza da vueltas, el tiempo se agita y mis sentidos despiertan"
                        </p>
                        <a href="#about" class="white-btn">Explorar...</a>
                        <a href="#contact" class="main-btn">¡Contacto Para Evento!</a>
                    </div>
                </div>
                <!-- /home content -->
            </div>
        </div>
    </div>
    <!-- /home wrapper -->

    <audio controlslist="nodownload" autoplay loop controls id="demoEutanasia">
        <source src="assets/audio/demo/1-BUSCANDO-IDENTIDAD.mp3" type="audio/mp3">
    </audio>

    <!-- Menú Responsive -->
    <div id="accordian" *ngIf="showMenuMovil">
        <ul class="menuMovil">
            <li>
                <ul (click)="showMenuMovil=false;">
                    <li><a href="#home"><i
                                class="pi pi-home font-12px iconMovilPad"></i>{{sesionService.msg.lbl_inicio}}</a></li>
                    <li><a href="#about"><i
                                class="pi pi-info-circle font-12px iconMovilPad"></i>{{sesionService.msg.lbl_bio}}</a>
                    </li>
                    <li><a href="#team"><i
                                class="pi pi-star font-12px iconMovilPad"></i>{{sesionService.msg.lbl_banda}}</a></li>
                    <li><a href="#portfolio"><i
                                class="pi pi-images font-12px iconMovilPad"></i>{{sesionService.msg.lbl_galeria_media}}</a>
                    </li>
                    <li><a href="#service"><i
                                class="pi pi-sliders-v font-12px iconMovilPad"></i>{{sesionService.msg.lbl_participaciones}}</a>
                    </li>
                    <li><a href="#pricing"><i
                                class="pi pi-share-alt font-12px iconMovilPad"></i>{{sesionService.msg.lbl_comparte}}</a>
                    </li>
                    <li>
                        <a href="#publicaciones">
                            <i class="pi pi-clone font-12px iconMovilPad"></i>
                            {{sesionService.msg.lbl_ultimas_publicaciones}}
                        </a>
                    </li>
                    <li>
                        <a (click)="redirigirBlogs()">
                            <i class="pi pi-comments font-12px iconMovilPad"></i>
                            {{sesionService.msg.lbl_blog}}
                        </a>
                    </li>
                    <li *ngIf="!esUsuarioLogueado()">
                        <a (click)="abrirModalLogin()">
                            <i class="pi pi-lock font-12px iconMovilPad"></i>
                            {{sesionService.msg.lbl_login}}
                        </a>
                    </li>
                    <li *ngIf="!esUsuarioLogueado()">
                        <a (click)="abrirModalRegister()">
                            <i class="pi pi-user-plus font-12px iconMovilPad"></i>
                            {{sesionService.msg.lbl_register}}
                        </a>
                    </li>
                    <li *ngIf="esUsuarioLogueado()">
                        <a>
                            <i class="pi pi-users font-12px iconMovilPad"></i>
                            {{usuarioAutorTBLogin.usuario}}
                        </a>
                    </li>
                    <li *ngIf="esUsuarioLogueadoActivo()">
                        <a (click)="abrirModalUpdateUser()">
                            <i class="pi pi-user-edit font-12px iconMovilPad"></i>
                            {{sesionService.msg.lbl_actualizar_usuario}}
                        </a>
                    </li>
                    <li *ngIf="esUsuarioLogueado()">
                        <a (click)="cerrarSesion()">
                            <i class="pi pi-power-off font-12px iconMovilPad"></i>
                            {{sesionService.msg.lbl_tip_cerrar_sesion}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /Menú Responsive -->
</header>
<!-- /Header -->