<p-scrollPanel #scrollPostCrud [style]="{width: '100%', height: '100vh'}" styleClass="custom">

    <!-- Header -->
    <app-header-o></app-header-o>
    <!-- /Header -->

    <!-- Notificaciones -->
    <p-toast></p-toast>

    <p-tabView styleClass="tabview-custom container" [(activeIndex)]="activeIndex">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-search" style="padding: 5px;"></i>
                <span>{{sesionService.msg.lbl_btn_consultar}}
                    -
                    {{sesionService.msg.lbl_mtto_post}}</span>
            </ng-template>

            <!-- SELECT Post -->
            <div id="consultaPost" class="section">
                <!-- Container -->
                <div class="containerBorder">
                    <!-- Row -->
                    <div class="row">
                        <!-- Main -->
                        <div class="col-md-12 mdl-grid">
                            <div class="blog w100">
                                <div class="blog-img">
                                    <div class="card">
                                        <h5 class="font-40px">{{sesionService.msg.lbl_btn_consultar}} -
                                            {{sesionService.msg.lbl_mtto_post}}</h5>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label>{{sesionService.msg.lbl_mtto_post_titulo}}</label>
                                                <input type="text" pInputText [(ngModel)]="postFiltroTB.titulo">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label>{{sesionService.msg.lbl_mtto_post_subtitulo}}</label>
                                                <input type="text" pInputText [(ngModel)]="postFiltroTB.subtitulo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="noMargin mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
                                <div class="section-header text-center">
                                    <p-button label="{{sesionService.msg.lbl_btn_consultar}}" (click)="cargarPost()"
                                        icon="pi pi-search" styleClass="main-btn font-20px">
                                    </p-button>
                                    <p-button label="{{sesionService.msg.lbl_btn_nuevo}}" (click)="irCrear()"
                                        icon="pi pi-plus" styleClass="main-btn font-20px">
                                    </p-button>
                                </div>
                            </div>
                            <div
                                class="noMargin mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
                                <app-consulta [cabeceras]="listaCabeceras" [lista]="listPostTB" [btnEditar]="true"
                                    (enviarObjetoEditar)="editar($event)">
                                </app-consulta>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /SELECT Post -->
        </p-tabPanel>
        <p-tabPanel [disabled]="onlyConsulta">
            <ng-template pTemplate="header">
                <i class="{{crearPost ? 'pi pi-plus' : 'pi pi-pencil'}}" style="padding: 5px;"></i>
                <span>{{crearPost ? sesionService.msg.lbl_btn_crear : sesionService.msg.lbl_btn_actualizar}}
                    -
                    {{sesionService.msg.lbl_mtto_post}}</span>
            </ng-template>

            <!-- CREATE/EDIT Post -->
            <div id="gestionPost" class="section" *ngIf="postTB !== undefined && postTB !== null">
                <!-- Container -->
                <div class="containerBorder">
                    <!-- Row -->
                    <div class="row">
                        <!-- Main -->
                        <div class="col-md-12">
                            <div class="blog">
                                <div class="blog-img">
                                    <div class="card">
                                        <h5 class="font-40px">
                                            {{crearPost ? sesionService.msg.lbl_btn_crear : sesionService.msg.lbl_btn_actualizar}}
                                            -
                                            {{sesionService.msg.lbl_mtto_post}}</h5>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                                                <div *ngIf="!mostrarImagenPost" class="choose-files"
                                                    (click)="startUpload()">
                                                    <i class="pi pi-plus-circle font-40px"></i>
                                                </div>
                                                <div *ngIf="mostrarImagenPost" class="choose-files no-padding">
                                                    <img *ngIf="srcImagenPost !== undefined && srcImagenPost !== null"
                                                        class="w100"
                                                        [src]="sesionService.realPathOf(archivoImagenPost.rutaArchivo)"
                                                        style="height: 196px;width: auto;" />
                                                    <i class="pi pi-times font-20px cerrarImagen"
                                                        (click)="limpiarAdjuntos($event)"></i>
                                                </div>
                                                <p-fileUpload #fileInputPost mode="basic" name="archivosTemporales[]"
                                                    customUpload="true" (uploadHandler)="handlerUpload($event)"
                                                    accept="image/*" maxFileSize="750000"
                                                    (onClear)="limpiarAdjuntos($event)"
                                                    chooseLabel="{{sesionService.msg.lbl_btn_escoger_archivo}}"
                                                    uploadLabel="{{sesionService.msg.lbl_btn_subir_archivos}}"
                                                    cancelLabel="{{sesionService.msg.lbl_btn_cancelar}}"
                                                    invalidFileSizeMessageSummary="{{sesionService.msg.lbl_summary_danger}}"
                                                    invalidFileSizeMessageDetail="{{sesionService.msg.lbl_mensaje_file_detail_size}}"
                                                    invalidFileTypeMessageSummary="{{sesionService.msg.lbl_summary_danger}}"
                                                    invalidFileTypeMessageDetail="{{sesionService.msg.lbl_mensaje_file_detail_type}}">
                                                </p-fileUpload>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label>{{sesionService.msg.lbl_mtto_post_titulo}}</label>
                                                <input type="text" pInputText [(ngModel)]="postTB.titulo">

                                                <label>{{sesionService.msg.lbl_mtto_post_articulo}}</label>
                                                <textarea type="text" rows="10" pInputTextarea
                                                    [(ngModel)]="postTB.articulo"></textarea>

                                                <ul class="blog-meta">
                                                    <li><i class="fa fa-user"></i>{{postTB.usuarioAutorTB.nombres}}
                                                        {{postTB.usuarioAutorTB.apellidos}}</li>
                                                    <li><i class="fa fa-comments"></i>{{postTB.cantidadComentarios}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label>{{sesionService.msg.lbl_mtto_post_subtitulo}}</label>
                                                <input type="text" pInputText [(ngModel)]="postTB.subtitulo">
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                <label>{{sesionService.msg.lbl_mtto_post_tags}}</label>
                                                <p-chips [(ngModel)]="tagsEdicion" separator=";"></p-chips>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                <label>{{sesionService.msg.lbl_mtto_post_categoria}}</label>
                                                <div class="bgReg">
                                                    <ng-select
                                                        notFoundText="{{sesionService.msg.lbl_mensaje_no_info_select}}"
                                                        [(ngModel)]="postTB.categoria" [items]="enumCategoria">
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div
                                        class="noMargin mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
                                        <div class="section-header text-center">
                                            <p-button
                                                label="{{crearPost ? sesionService.msg.lbl_btn_crear : sesionService.msg.lbl_btn_actualizar}}"
                                                (click)="crearActualizarPost(crearPost)"
                                                icon="{{crearPost ? 'pi pi-plus' : 'pi pi-pencil'}}"
                                                styleClass="main-btn font-20px">
                                            </p-button>
                                        </div>
                                    </div>
                                    <div
                                        class="noMargin mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
                                        <p-messages></p-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Main -->
                    </div>
                    <!-- /Row -->
                </div>
                <!-- /Container -->
            </div>
            <!-- /CREATE/EDIT Post -->
        </p-tabPanel>
    </p-tabView>

    <!-- FOOTER -->
    <app-footer></app-footer>
    <!-- FOOTER -->

</p-scrollPanel>