<!-- Footer -->
<footer id="footer" class="sm-padding bg-dark newFoot">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <!-- footer logo -->
                <div class="footer-logo">
                    <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                </div>
                <!-- /footer logo -->

                <!-- footer follow -->
                <ul class="footer-follow">
                    <li>
                        <a href="https://www.facebook.com/eutanasiaparatodos"><i class="icon"><img
                                    title="Página Facebook" style="width: 100%; max-width: 200px"
                                    src="assets/images/fbook.png"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCtOCuREUTqKz5xCISEGfvgA"><i class="icon1"><img
                                    title="Canal YouTube" style="width: 100%; max-width: 200px"
                                    src="assets/images/youtube.png"></i></a>
                    </li>
                    <li>
                        <a href="https://soundcloud.com/hqooatzl6vgi"><i class="icon2"><img title="Demo SoundCloud"
                                    style="width: 100%; max-width: 200px" src="assets/images/soundcloud.png"></i></a>
                    </li>
                    <li>
                        <a href="https://open.spotify.com/album/0fD0tahNFgR5LXiAYjih9I"><i class="icon2"><img
                                    title="Demo Spotify" style="width: 100%; max-width: 200px"
                                    src="assets/images/spotify.png"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/eutanasiarr/"><i class="icon2"><img title="Instagram Oficial"
                                    style="width: 100%; max-width: 200px" src="assets/images/instagram.png"></i></a>
                    </li>
                </ul>
                <ul class="footer-follow">
                    <a style="color: white; padding: 5px;" href="tel:+573219315302"><i class="fa fa-phone"></i> + 57
                        321-931-5302</a>
                    <a style="color: white; padding: 5px;" href="tel:+573156662307"><i class="fa fa-phone"></i> + 57
                        315-666-2307</a>
                    <a style="color: white; padding: 5px;" href="tel:+573104441460"><i class="fa fa-phone"></i> + 57
                        310-444-1460</a>
                    <a style="color: white; padding: 5px;" href="tel:+573174476470"><i class="fa fa-phone"></i> + 57
                        317-447-6470</a>
                </ul>
                <ul class="footer-follow">
                    <a style="color: white"> eutanasiarockandroll@gmail.com <i class="fa fa-email"></i></a>
                    <!--Div where the WhatsApp will be rendered-->
                    <div style="z-index: 10;" id="WAButton"></div>
                </ul>
                <!-- /footer follow -->

                <!-- footer copyright -->
                <div class="footer-copyright">
                    <p>&copy; 2017 CMVB. All rights reserved | Designed by <a
                            href="https://www.linkedin.com/in/carlos-baene/">Carlos Baene - Ing. Sistemas</a></p>
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</footer>
<!-- /Footer -->