<p-table #dt *ngIf="lista !== undefined && lista !== null && lista.length > 0; else sinResultados"
	styleClass="mdl-data-table mdl-js-data-table" [responsive]="true" [paginator]="true" [rows]="rows" [columns]="cols"
	[value]="lista">
	<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngIf="btnEditar" class="textCenter back-red text-center mdl-data-table__cell--non-numeric">
				{{sesionService.msg.lbl_btn_actualizar}}</th>
			<th class="textCenter back-red text-center mdl-data-table__cell--non-numeric" *ngFor="let col of cols">
				{{col.header}}
			</th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-rowData let-columns="cols">
		<tr
			*ngIf="rowData[cols[0].field] !== 'id' && rowData[cols[0].field] !== 'region' && rowData[cols[1].field] !== ' '">
			<td *ngIf="btnEditar" class="textCenter btnActions ajustarBtnTable">
				<p-button label="{{sesionService.msg.lbl_btn_actualizar}}" (click)="editar(rowData)" icon="pi pi-pencil"
					styleClass="main-btn font-20px">
				</p-button>
			</td>
			<td style="padding-left: 5px !important;" class="mdl-data-table__cell--non-numeric text-center"
				*ngFor="let col of cols">
				<label>{{rowData[col.field]}}</label>
			</td>
		</tr>
	</ng-template>
</p-table>
<ng-template #sinResultados>
	<div class="row align-items-center">
		<div class="col">
			<p class="sinResultados shiny">{{sesionService.msg.lbl_info_sin_resultados}}</p>
		</div>
	</div>
</ng-template>