<!-- HEADER -->
<app-header></app-header>
<!-- HEADER -->

<!-- About -->
<div id="about" class="section md-padding" style="padding-bottom: 0px !important;">
	<!-- Container -->
	<div class="container">
		<!-- Row -->
		<div class="row">
			<!-- Section header -->
			<div class="section-header text-center">
				<h2 class="title">
					<p>Bienvenido</p>Página Oficial de EUTANASIA
				</h2>
			</div>
			<!-- /Section header -->

			<!-- about -->
			<div class="biography-grids">
				<div class="col-md-6 biography-grid">
					<img style="padding: 5px 0" src="assets/images/s.jpg" class="img-responsive" />
				</div>
				<div class="col-md-6 biography-grid">
					<p style="padding-top: 0">EUTANASIA, es una banda de Hard Rock/Rock and Roll formada en Ocaña
						(Colombia) a finales del año 2012 inicialmente por Juan Pablo Uribe, Andrés Sánchez y Victor
						Torrado, Guitarristas y Baterista respectivamente. Aunque la idea empezó desde el 2008, uno a
						uno fueron apareciendo los integrantes hasta consolidar la banda, Pedro Sánchez en la Voz y
						Oscar Bautista en el Bajo.</p>

					<p>Su primer concierto se llevó a cabo la noche del 31 de Marzo de 2013, participando en
						“Underground Rock II”, coincidiendo con el lanzamiento de dos temas: “Ya es tarde” y
						“Eutanasia”, esta última representando la identidad del grupo. En ese mismo año, el 28 de
						Septiembre, Eutanasia se presenta en Bucaramanga en el evento “Tribute to the Gods” donde de
						igual forma se da la oportunidad de mostrar dos nuevos temas, “Buscando Identidad” y “Prestigio
						Fatal”. En esta ocasión hay un cambio en los integrantes de la banda, donde Carlos Vera es
						presentado como el nuevo Bajista.</p>
				</div>
				<div class="col-md-12 biography-grid">
					<p>Poco más de un mes después, el 1 de Noviembre, el grupo hace presencia y participa en el
						“Concurso de Bandas de Rock 2” donde se logra el segundo puesto, dando a conocer a Eutanasia
						como la banda de Hard Rock/Rock and Roll más reconocida a nivel municipal e influyente dentro de
						los parámetros del Rock en Ocaña para las bandas que comienzan su carrera musical. Luego, el 21
						de diciembre, Eutanasia se presenta en el evento “Underground Rock III”, convirtiéndose este en
						un año de oportunidades para la agrupación. La banda cuenta en estos momentos con diez
						sencillos, cinco de ellos en su primer demo "Frenético Rock & Roll.</p>

					<p>Para cerrar el 2013, la banda se presentó en la “Rifa/Concierto” el 28 de Diciembre. Esta banda
						con influencias como AC/DC, Deep Purple o Black Sabbath, se ha caracterizado por mostrar algo
						diferente a nivel local, precisamente eso es lo que ayuda para la aceptación del público
						recuperando la escena rockera.</p>

					<p>El año 2014 ha sido uno de los mejores para la banda, participamos en diferentes eventos, como el
						Underground Rock IV o el concurso de bandas III en el cuál el guitarrista Juan P. Sánchez fue
						nombrado como mejor guitarrista de la ciudad. El evento más importante fue "La Guardia Fest" que
						se realizó en el ecoparque de Comfaoriente, en Cúcuta, a mediados de diciembre. "Una experiencia
						única como cada vez que se viajamos fuera de nuestra ciudad", dice Juan Pablo, Guitarrista.</p>

					<p>Ya en el 2015 empiezan meses difíciles porque se cambia de baterista un par de veces, a pesar de
						los percances Leonardo Navarro se incluye como nuevo Baterista de la banda, se presentan en
						enero en libélula bar en el evento "Rock Night", y en la integración universitaria de la UFPSO
						de ese año. Ahora que la banda está consolidada y con las baterías de rock recargadas, se espera
						tocar en bares de la ciudad para abrir puertas a la escena y realizar eventos, tal como fue el
						"Halloween trick or treat" organizado por la banda el 31 de Octubre. Todo esto como preparación
						para el concurso de bandas local y para la oportunidad de salir de la ciudad de nuevo.</p>

					<p>Para el 2016, la acogida va en aumento, siendo Cúcuta la ciudad que más oportunidades ha
						generado, la banda encuentra una unión que permite sortear las dificultades. Problemas casi al
						punto de quebrar el grupo porque una convivencia no es fácil, pero se supo manejar apostándole a
						la unión y los eventos que fueron surgiendo. Se da la posibilidad de estar en el compilado
						"XIIIC-001 SANTANDER COALITION" al lado de bandas reconocidas del departamente. En cuanto a
						presentaciones, en la ciudad de Ocaña se acompañó en eventos privados y se contó con la
						posibilidad de presentarse en la Plaza de Ferias para el "Concierto de la fraternidad" y la
						Integración de Colegios del Municipio. Además se hicieron participes del evento "Catatumbo Rock
						Festival". A nivel nacional se participa en convocatorias para eventos como el "Viboral Rock"
						llegando hasta el último filtro (Quedando entre las 40 bandas finalistas seleccionadas de todo
						el país). También se presentan en el "SomosUno" en cúcuta y el "Rock al Parche 2" en
						bucaramanga, donde se puede compartir tarima con bandas de gran trayectoria, como es el caso de
						Ursus.</p>

					<p>Eutanasia recibe el 2017 recargado con una buena dosis de Rock & Roll, en lo que va del año, ya
						se ha participado en 2 eventos en la ciudad de Cúcuta "Possesed By Metal" y "Estridente Amanecer
						2" donde se nota el apoyo del público de la región. La banda tiene como proyección grabar el
						primer CD Album completo de 12 Canciones inéditas y realizar su primer videoclip oficial. En
						Busca de patrocinadores que impulsen el trabajo que se viene realizando desde hace 5 años, que
						ha sido arduo. La banda manda un mensaje a sus seguidores: "Queremos aprovechar y agradecer a la
						gente que ha creido en nosotros y nos apoya en cada toque, evento, concierto, concurso. Gracias
						a todo el público que nos motiva a seguir en este sueño. Es un orgullo para nosotros representar
						a nuestra tierra."
					<p>

					<ul>
						<li>"Siempre nos piden 'Bolegancho', y nosotros siempre llevamos"</li>
						<li>"Nos caracteriza la humildad, nos sentamos a hablar con todo el mundo"</li>
						<li>"Lo mejor de finalizar un evento, es la unión con la gente, todos son amigos"</li>
						<li>"La música nos permite conocer personas con cualidades excepcionales"</li>
						<li>"¡Es nuestro sueño, lo estamos construyendo!"</li>
						<li>"Hemos trabajado con las uñas, hasta el final, valdrá la pena"</li>
					</ul>
					<div class="clearfix"></div>

				</div>

				<div class="clearfix"></div>
			</div>
			<!-- /about -->

		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->
</div>
<!-- /About -->

<!-- Team -->
<div id="team" class="section md-padding">
	<!-- Container -->
	<div class="container">
		<!-- Row -->
		<div class="row">
			<!-- Section header -->
			<div class="section-header text-center">
				<h2 class="title">Banda</h2>
			</div>
			<!-- /Section header -->

			<!-- Galer -->
			<div class="containerGallery">
				<div class="boxGallery">
					<div class="box-legend">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus
						magnam recusandae facilis vel illo natus eligendi quod officiis vitae totam!
					</div>
					<img src="assets/images/band/pedro.jpg">
					<span>Vocalista</span>
				</div>
				<div class="boxGallery">
					<div class="box-legend">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus
						magnam recusandae facilis vel illo natus eligendi quod officiis vitae totam!
					</div>
					<img src="assets/images/band/pipe.jpg">
					<span>Guitarrista</span>
				</div>
				<div class="boxGallery">
					<div class="box-legend">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus
						magnam recusandae facilis vel illo natus eligendi quod officiis vitae totam!
					</div>
					<img src="assets/images/band/carlos.jpg">
					<span>Bajista</span>
				</div>
				<div class="boxGallery">
					<div class="box-legend">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus
						magnam recusandae facilis vel illo natus eligendi quod officiis vitae totam!
					</div>
					<img src="assets/images/band/leo.jpg">
					<span>Baterista</span>
				</div>
			</div>
			<!-- /Galer -->
		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->

</div>
<!-- /Team -->

<!-- Portfolio -->
<div id="portfolio" class="section md-padding bg-grey">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<!-- Section header -->
			<div class="section-header text-center">
				<h2 class="title">Galería y Multimedia</h2>
			</div>
			<!-- /Section header -->

			<!-- Work -->
			<div class="col-md-6 col-xs-12">
				<div class="player-container">
					<p-galleria #galleria [(value)]="images" [(activeIndex)]="activeIndex" [numVisible]="5"
						[containerStyle]="{'max-width':'640px'}" [containerClass]="galleriaClass()"
						[showThumbnails]="showThumbnails" [showItemNavigators]="true" [showItemNavigatorsOnHover]="true"
						[circular]="true" [autoPlay]="true" [transitionInterval]="3000">
						<ng-template pTemplate="item" let-item>
							<img [src]="item.previewImageSrc"
								[ngStyle]="{height: !fullscreen ? '400px' : 'auto', 'width': !fullscreen ? '100%' : '', 'display': !fullscreen ? 'block' : ''}" />
						</ng-template>
						<ng-template pTemplate="thumbnail" let-item>
							<div class="p-grid p-nogutter p-justify-center">
								<img [src]="item.thumbnailImageSrc" />
							</div>
						</ng-template>
						<ng-template pTemplate="footer" let-item>
							<div class="custom-galleria-footer">
								<button type="button" pButton icon="pi pi-list"
									(click)="onThumbnailButtonClick()"></button>
								<span *ngIf="images" class="title-container">
									<span>{{activeIndex + 1}}/{{images.length}}</span>
									<span class="title">{{images[activeIndex].title}}</span>
									<span>{{images[activeIndex].alt}}</span>
								</span>
								<button type="button" pButton [icon]="fullScreenIcon()" (click)="toggleFullScreen()"
									class="fullscreen-button"></button>
							</div>
						</ng-template>
					</p-galleria>
				</div>
			</div>
			<!-- /Work -->

			<!-- Work -->
			<div class="col-md-6 col-xs-12">
				<div class="player-container">
					<div class="player-body">
						<div class="body-cover">
							<ul class="list list--cover">
								<li>
									<a class="list-link"><i class="fa fa-ellipsis-h"></i></a>
								</li>´
								<li>
									<a class="list-link"></a>
								</li>
								<li>
									<a class="list-link"><i style="padding-right: 5px;"
											class="fa fa-music"></i>Frenético Rock and Roll
										- Canción</a>
								</li>
							</ul>
							<img src="assets/images/demo.jpg" alt="Album cover" />

							<div class="slider-range">
								<p-slider [(ngModel)]="songPosition"></p-slider>
								{{songTime}}
							</div>
						</div>

						<div class="body-info">
							<div class="info-song">
								<div class="body-buttons">
									<ul class="list list--buttons">
										<li class="btnPlayer">
											<button pButton pRipple type="button" icon="pi pi-step-backward"
												class="p-button-rounded p-button-danger p-button-text textWhite"></button>
										</li>
										<li class="btnPlayer">
											<button pButton pRipple type="button" icon="pi pi-play"
												(click)="playSongSlider()"
												class="p-button-rounded p-button-danger p-button-text textWhite"></button>
										</li>
										<li class="btnPlayer">
											<button pButton pRipple type="button" icon="pi pi-step-forward"
												class="p-button-rounded p-button-danger p-button-text textWhite"></button>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Work -->
		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->

</div>
<!-- /Portfolio -->

<!-- Service -->
<div id="service" class="section md-padding">
	<div class="container">
		<div class="section-header text-center">
			<h2 class="title">Participaciones</h2>
		</div>
		<div class="border"></div>

		<div class="service-grids">
			<div *ngFor="let evento of listaEventos1" class="col-md-3 ser-grid">
				<div class="ser-top">
					<div class="con hvr-shutter-in-horizontal">
						<i class="glyphicon" aria-hidden="true"><img [src]="evento.srcImg" class="img-responsive" /></i>
					</div>
					<h4>{{evento.nombre}}</h4>
					<p>{{evento.descripcion}}</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="service-grids">
			<div *ngFor="let evento of listaEventos2" class="col-md-3 ser-grid">
				<div class="ser-top">
					<div class="con hvr-shutter-in-horizontal">
						<i class="glyphicon" aria-hidden="true"><img [src]="evento.srcImg" class="img-responsive" /></i>
					</div>
					<h4>{{evento.nombre}}</h4>
					<p>{{evento.descripcion}}</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="service-grids">
			<div *ngFor="let evento of listaEventos3" class="col-md-3 ser-grid">
				<div class="ser-top">
					<div class="con hvr-shutter-in-horizontal">
						<i class="glyphicon" aria-hidden="true"><img [src]="evento.srcImg" class="img-responsive" /></i>
					</div>
					<h4>{{evento.nombre}}</h4>
					<p>{{evento.descripcion}}</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="service-grids">
			<div *ngFor="let evento of listaEventos4" class="col-md-3 ser-grid">
				<div class="ser-top">
					<div class="con hvr-shutter-in-horizontal">
						<i class="glyphicon" aria-hidden="true"><img [src]="evento.srcImg" class="img-responsive" /></i>
					</div>
					<h4>{{evento.nombre}}</h4>
					<p>{{evento.descripcion}}</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="service-grids">
			<div *ngFor="let evento of listaEventos5" class="col-md-3 ser-grid">
				<div class="ser-top">
					<div class="con hvr-shutter-in-horizontal">
						<i class="glyphicon" aria-hidden="true"><img [src]="evento.srcImg" class="img-responsive" /></i>
					</div>
					<h4>{{evento.nombre}}</h4>
					<p>{{evento.descripcion}}</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="service-grids">
			<div *ngFor="let evento of listaEventos6" class="col-md-3 ser-grid">
				<div class="ser-top">
					<div class="con hvr-shutter-in-horizontal">
						<i class="glyphicon" aria-hidden="true"><img [src]="evento.srcImg" class="img-responsive" /></i>
					</div>
					<h4>{{evento.nombre}}</h4>
					<p>{{evento.descripcion}}</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="service-grids">
			<div *ngFor="let evento of listaEventos7" class="col-md-3 ser-grid">
				<div class="ser-top">
					<div class="con hvr-shutter-in-horizontal">
						<i class="glyphicon" aria-hidden="true"><img [src]="evento.srcImg" class="img-responsive" /></i>
					</div>
					<h4>{{evento.nombre}}</h4>
					<p>{{evento.descripcion}}</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- /Service -->

<!-- Why Choose Us -->
<div id="features" class="section md-padding bg-grey">
	<!-- Container -->
	<div class="container">
		<!-- Row -->
		<div class="row">
			<!-- why choose us content -->
			<div class="col-md-6">
				<div class="section-header">
					<h2 class="title">Frenético Rock 'n Roll</h2>
				</div>
				<p>Este es el primer Demo de la banda. Temática de metamorfosis en el pensamiento crítico y en la
					influencia musical en la vida diaria. Esto es dedicado a todas esas personas que quieren descansar,
					pero no lo pueden expresar: ¡Eutanasia Para Todos!</p>
				<div class="feature">
					<i class="fa fa-check"></i>
					<p>Ya es Tarde</p>
				</div>
				<div class="feature">
					<i class="fa fa-check"></i>
					<p>Buscando Identidad</p>
				</div>
				<div class="feature">
					<i class="fa fa-check"></i>
					<p>Prestigio Fatal</p>
				</div>
				<div class="feature">
					<i class="fa fa-check"></i>
					<p>De Vuelta Al Infierno</p>
				</div>
				<div class="feature">
					<i class="fa fa-check"></i>
					<p>No Moriré</p>
				</div>
			</div>
			<!-- /why choose us content -->
			<!-- Choose slider -->
			<div class="col-md-6">
				<owl-carousel-o [options]="customOptions">
					<ng-template carouselSlide>
						<img class="img-responsive" src="assets/images/demo.jpg" alt="">
					</ng-template>
					<ng-template carouselSlide>
						<img class="img-responsive" src="assets/images/compilado.jpg" alt="">
					</ng-template>
				</owl-carousel-o>
			</div>
			<!-- /Choose slider -->
		</div>
		<!-- /Row -->
	</div>
	<!-- /Container -->
</div>
<!-- /Why Choose Us -->

<!-- Numbers -->
<div id="numbers" class="section sm-padding">

	<!-- Background Image -->
	<div class="bg-img" style="background-image: url('assets/images/fondo2.jpg');">
		<div class="overlay"></div>
	</div>
	<!-- /Background Image -->

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<!-- number -->
			<div class="col-sm-3 col-xs-6">
				<div class="number">
					<i class="fa fa-users"></i>
					<h3 class="white-text"><span class="counter">451</span></h3>
					<span class="white-text">Seguidores</span>
				</div>
			</div>
			<!-- /number -->

			<!-- number -->
			<div class="col-sm-3 col-xs-6">
				<div class="number">
					<i class="fa fa-trophy"></i>
					<h3 class="white-text"><span class="counter">24</span></h3>
					<span class="white-text">Participaciones</span>
				</div>
			</div>
			<!-- /number -->

			<!-- number -->
			<div class="col-sm-3 col-xs-6">
				<div class="number">
					<i class="fa fa-coffee"></i>
					<h3 class="white-text"><span class="counter">154</span>K</h3>
					<span class="white-text">Cups of Coffee</span>
				</div>
			</div>
			<!-- /number -->

			<!-- number -->
			<div class="col-sm-3 col-xs-6">
				<div class="number">
					<i class="fa fa-file"></i>
					<h3 class="white-text"><span class="counter">45</span></h3>
					<span class="white-text">Projects completed</span>
				</div>
			</div>
			<!-- /number -->

		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->

</div>
<!-- /Numbers -->

<!-- Pricing -->
<div id="pricing" class="section md-padding">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<!-- Section header -->
			<div class="section-header text-center">
				<h2 class="title">Escuchanos</h2>
			</div>
			<!-- /Section header -->

			<div class="service-grids">
				<div class="col-md-6 ser-grid">
					<iframe style="border: 1px solid #dacfcf;box-shadow: 0 0 5px #000;" width="560" height="315"
						src="https://www.youtube.com/embed/PZMzYK1ZNaI?autohide=1" frameborder="0"
						allowfullscreen></iframe>
				</div>
				<div class="col-md-6 ser-grid">
					<iframe style="border: 1px solid #dacfcf;box-shadow: 0 0 5px #000;" width="560" height="315"
						src="https://www.youtube.com/embed/p4t8_3qyETw?autohide=1" frameborder="0"
						allowfullscreen></iframe>
				</div>
			</div>

		</div>
		<!-- Row -->

	</div>
	<!-- /Container -->

</div>
<!-- /Pricing -->

<!-- Testimonial -->
<div id="testimonial" class="section md-padding">
	<!-- Background Image -->
	<div class="bg-img" style="background-image: url('assets/images/fondo2.jpg');">
		<div class="overlay"></div>
	</div>
	<!-- /Background Image -->

	<!-- Container -->
	<div class="container">
		<!-- Row -->
		<div class="row">
			<!-- Testimonial slider -->
			<div class="col-md-10 col-md-offset-1">
				<owl-carousel-o [options]="customOptions">
					<ng-template carouselSlide>
						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<img href="http://www.carlosjacomeartworks.com/" src="assets/images/carlosjacome.jpg"
									alt="">
								<h3 class="white-text">Carlos Jácome</h3>
								<span>Diseñador Gráfico</span>
							</div>
							<p style="padding: 5px;" class="white-text text-justify">Apasionado por la música, el arte y
								el diseño, me he desempeñado profesionalmente en Agencias de Publicidad & Diseño y en la
								parte académica como docente, trabajos de ilustración para portadas de cds, libros,
								revistas, proyectos de identidad gráfica corporativa y diseño editorial.</p>
						</div>
						<!-- /testimonial -->
					</ng-template>
					<ng-template carouselSlide>
						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<img src="assets/images/perso2.jpg" alt="">
								<h3 class="white-text">John Doe</h3>
								<span>Web Designer</span>
							</div>
							<p style="padding: 5px;" class="white-text text-justify">Molestie at elementum eu facilisis
								sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas
								ultricies mi eget mauris.</p>
						</div>
						<!-- /testimonial -->
					</ng-template>
				</owl-carousel-o>
			</div>
			<!-- /Testimonial slider -->
		</div>
		<!-- /Row -->
	</div>
	<!-- /Container -->
</div>
<!-- /Testimonial -->

<!-- Blog -->
<div id="blog" class="section md-padding bg-grey">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<!-- Section header -->
			<div class="section-header text-center">
				<h2 class="title">Últimas Publicaciones</h2>
			</div>
			<!-- /Section header -->

			<!-- blog -->
			<div class="col-md-4">
				<div class="blog">
					<div class="blog-img">
						<img class="img-responsive" src="assets/images/blog1.jpg" alt="">
					</div>
					<div class="blog-content">
						<ul class="blog-meta">
							<li><i class="fa fa-user"></i>John doe</li>
							<li><i class="fa fa-clock-o"></i>18 Oct</li>
							<li><i class="fa fa-comments"></i>57</li>
						</ul>
						<h3>Molestie at elementum eu facilisis sed odio</h3>
						<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed.
							Nunc non blandit massa enim nec.</p>
						<a href="blog-single.html">Read more</a>
					</div>
				</div>
			</div>
			<!-- /blog -->

			<!-- blog -->
			<div class="col-md-4">
				<div class="blog">
					<div class="blog-img">
						<img class="img-responsive" src="assets/images/blog2.jpg" alt="">
					</div>
					<div class="blog-content">
						<ul class="blog-meta">
							<li><i class="fa fa-user"></i>John doe</li>
							<li><i class="fa fa-clock-o"></i>18 Oct</li>
							<li><i class="fa fa-comments"></i>57</li>
						</ul>
						<h3>Molestie at elementum eu facilisis sed odio</h3>
						<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed.
							Nunc non blandit massa enim nec.</p>
						<a href="blog-single.html">Read more</a>
					</div>
				</div>
			</div>
			<!-- /blog -->

			<!-- blog -->
			<div class="col-md-4">
				<div class="blog">
					<div class="blog-img">
						<img class="img-responsive" src="assets/images/blog3.jpg" alt="">
					</div>
					<div class="blog-content">
						<ul class="blog-meta">
							<li><i class="fa fa-user"></i>John doe</li>
							<li><i class="fa fa-clock-o"></i>18 Oct</li>
							<li><i class="fa fa-comments"></i>57</li>
						</ul>
						<h3>Molestie at elementum eu facilisis sed odio</h3>
						<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed.
							Nunc non blandit massa enim nec.</p>
						<a href="blog-single.html">Read more</a>
					</div>
				</div>
			</div>
			<!-- /blog -->

		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->

</div>
<!-- /Blog -->

<!-- Contact -->
<div id="contact" class="section md-padding">
	<!-- Container -->
	<div class="container">
		<!-- Row -->
		<div class="row">
			<!-- Section-header -->
			<div class="section-header text-center">
				<h2 class="title">Contacto</h2>
				<input type="submit" class="main-btn" value="Registrar Eutanásico" onclick="location='contact.html'" />
			</div>
			<!-- /Section-header -->

			<div class="map">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d830.1069021886983!2d-73.3544373416631!3d8.235285134887176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x119b8b5e31460d67!2sColumna+de+la+Libertad+de+los+Esclavos!5e0!3m2!1ses!2sco!4v1487799660955"
					width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
		<!-- /Row -->
	</div>
	<!-- /Container -->
</div>
<!-- /Contact -->

<!-- FOOTER -->
<app-footer></app-footer>
<!-- FOOTER -->