<p-scrollPanel #scrollBlog [style]="{width: '100%', height: '100vh'}" styleClass="custom">

  <!-- Header -->
  <header style="background-image: url('assets/images/banner.jpg');">
    <!-- Nav -->
    <nav id="nav" class="navbar nav-transparent">
      <div class="container">
        <div class="navbar-header">
          <!-- Logo -->
          <div class="navbar-brand">
            <a href="index.html">
              <img class="logo" src="assets/images/logo.png" alt="logo">
              <img class="logo-alt" src="assets/images/logo.png" alt="logo">
            </a>
          </div>
          <!-- /Logo -->
          <!-- Collapse nav button -->
          <div (click)="mostrarOcultarMenuBlog()" class="nav-collapse textHoverRed menu">
            <i class="list--buttons pi pi-ellipsis-v font-20px"></i>
          </div>
          <!-- /Collapse nav button -->
        </div>

        <!--  Main navigation  -->
        <ul class="main-nav nav navbar-nav navbar-right">
          <li class="has-dropdown"><a>{{sesionService.msg.lbl_idioma}}</a>
            <ul class="dropdown" style="width: 50px;">
              <li>
                <a (click)="sesionService.cambiarIdioma(0)">
                  <img class="w100 cursorPointer" src="assets/images/idiomaEspanol.png" style="height: 20px;" />
                </a>
              </li>
              <li>
                <a (click)="sesionService.cambiarIdioma(1)">
                  <img class="w100 cursorPointer" src="assets/images/idiomaIngles.png" style="height: 20px;" />
                </a>
              </li>
            </ul>
          </li>
          <li><a href="#home">{{sesionService.msg.lbl_inicio}}</a></li>
          <li><a (click)="redirigirBlogsBlog()">{{sesionService.msg.lbl_blog}}</a></li>
          <li *ngIf="esUsuarioLogueadoActivoBlog()" class="has-dropdown displayFlex">
            <img class="imagePerfil" [src]="obtenerArchivoSanitizadoDeMapa(usuarioAutorTBLogin.urlImagen)" />
            <a>{{usuarioAutorTBLogin.usuario}}</a>
            <ul class="dropdown">
              <li><a (click)="cerrarSesionBlog()">{{sesionService.msg.lbl_tip_cerrar_sesion}}</a></li>
              <li><a (click)="abrirModalUpdateUserBlog()">{{sesionService.msg.lbl_actualizar_usuario}}</a></li>
            </ul>
          </li>
          <li *ngIf="!esUsuarioLogueadoActivoBlog()"><a id="loginBlog"
              (click)="abrirModalLogin()">{{sesionService.msg.lbl_login}}</a>
          </li>
          <li *ngIf="!esUsuarioLogueadoActivoBlog()"><a id="registerBlog"
              (click)="abrirModalRegister()">{{sesionService.msg.lbl_btn_registrarse}}</a>
          </li>
        </ul>
        <!-- /Main navigation -->

        <!-- Modals Login/Register -->
        <p-dialog [showHeader]="true" (onHide)="limpiarModales($event)" header="{{sesionService.msg.lbl_login}}"
          [(visible)]="disModLogin" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false"
          [resizable]="false" [closable]="true">
          <div class="reply-form">
            <div *ngIf="!loginRestaurar" class="row justify-content-center">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBLogin.usuario"
                  placeholder="{{sesionService.msg.lbl_header_usuario}}" />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                <input class="input" type="password" pInputText [(ngModel)]="usuarioAutorTBLogin.password"
                  placeholder="{{sesionService.msg.lbl_header_clave}}" />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                <p-button label="{{sesionService.msg.lbl_btn_ingresar}}" (click)="login()" icon="pi pi-key"
                  styleClass="main-btn font-20px">
                </p-button>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                <label class="textPlata">{{sesionService.msg.lbl_btn_olvidaste_tu_clave}}
                  <span (click)="toggleRestaurarLogin()"
                    class="cursorPointer textWhite textHoverRed">{{sesionService.msg.lbl_btn_restaurar_clave}}</span>
                </label>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                <p-messages></p-messages>
              </div>
            </div>

            <div *ngIf="loginRestaurar" class="row justify-content-center">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBLogin.usuario"
                  placeholder="{{sesionService.msg.lbl_header_usuario}}" />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                <p-button label="{{sesionService.msg.lbl_btn_restaurar_clave}}" (click)="restaurarClave()"
                  icon="pi pi-key" styleClass="main-btn font-20px">
                </p-button>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                <label class="textPlata">{{sesionService.msg.lbl_btn_olvidaste_tu_clave}}
                  <span (click)="toggleRestaurarLogin()"
                    class="cursorPointer textWhite textHoverRed">{{sesionService.msg.lbl_login}}</span>
                </label>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                <p-messages></p-messages>
              </div>
            </div>
          </div>
        </p-dialog>

        <p-dialog [showHeader]="true" (onHide)="limpiarModales($event)"
          header="{{esRegistro ? sesionService.msg.lbl_register : sesionService.msg.lbl_actualizar_usuario}}"
          [(visible)]="disModRegistrar" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" [closable]="true">
          <div class="reply-form">
            <div class="row justify-content-center">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                <div *ngIf="!mostrarImagenRegister" class="choose-files" (click)="startUpload()">
                  <i class="pi pi-plus-circle font-40px"></i>
                </div>
                <div *ngIf="mostrarImagenRegister" class="choose-files no-padding">
                  <img *ngIf="srcImagenRegister !== undefined && srcImagenRegister !== null" class="w100"
                    [src]="esRegistro ? srcImagenRegister : obtenerArchivoSanitizadoDeMapa(usuarioAutorTBRegister.urlImagen)"
                    style="height: 196px;" />
                  <i class="pi pi-times font-20px cerrarImagen" (click)="limpiarAdjuntos($event)"></i>
                </div>
                <p-fileUpload #fileInputRegister mode="basic" name="archivosTemporales[]" customUpload="true"
                  (uploadHandler)="handlerUpload($event)" accept="image/*" maxFileSize="10000000"
                  (onClear)="limpiarAdjuntos($event)" chooseLabel="{{sesionService.msg.lbl_btn_escoger_archivo}}"
                  uploadLabel="{{sesionService.msg.lbl_btn_subir_archivos}}"
                  cancelLabel="{{sesionService.msg.lbl_btn_cancelar}}"
                  invalidFileSizeMessageSummary="{{sesionService.msg.lbl_summary_danger}}"
                  invalidFileSizeMessageDetail="{{sesionService.msg.lbl_mensaje_file_detail_size}}"
                  invalidFileTypeMessageSummary="{{sesionService.msg.lbl_summary_danger}}"
                  invalidFileTypeMessageDetail="{{sesionService.msg.lbl_mensaje_file_detail_type}}">
                </p-fileUpload>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login"
                style="padding-bottom: 0 !important">
                <textarea pInputTextarea [(ngModel)]="usuarioAutorTBRegister.resena"
                  placeholder="{{sesionService.msg.lbl_header_resena}}"></textarea>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.nombres"
                  placeholder="{{sesionService.msg.lbl_header_nombre}}">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.apellidos"
                  placeholder="{{sesionService.msg.lbl_header_apellido}}">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                <input class="input" type="text" pInputText [(ngModel)]="usuarioAutorTBRegister.usuario"
                  placeholder="{{sesionService.msg.lbl_header_usuario}}">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                <input class="input" type="email" pInputText [(ngModel)]="usuarioAutorTBRegister.correo"
                  placeholder="{{sesionService.msg.lbl_header_correo}}">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                <p-calendar placeholder="{{sesionService.msg.lbl_header_fecha_nacimiento}}"
                  [(ngModel)]="usuarioAutorTBRegister.fechaNacimiento"></p-calendar>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                <input class="input" type="password" pInputText [(ngModel)]="usuarioAutorTBRegister.password"
                  placeholder="{{sesionService.msg.lbl_header_clave}}">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-form-login">
                <input class="input" type="password" pInputText [(ngModel)]="repeatPassword"
                  placeholder="{{sesionService.msg.lbl_header_repetir_clave}}">
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                <p-button
                  label="{{esRegistro ? sesionService.msg.lbl_btn_registrarse : sesionService.msg.lbl_btn_actualizar}}"
                  (click)="crearActualizarUsuarioEutanasico(esRegistro)" icon="pi pi-user-plus"
                  styleClass="main-btn font-20px"></p-button>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-form-login">
                <p-messages></p-messages>
              </div>
            </div>
          </div>
        </p-dialog>
        <!-- /Modals Login/Register -->
      </div>
    </nav>
    <!-- /Nav -->

    <!-- header wrapper -->
    <div class="header-wrapper sm-padding fondoBanner">
      <div class="container">
        <h2></h2>
      </div>
    </div>
    <div *ngIf="post !== undefined && post !== null" class="header-wrapper sm-padding bg-grey">
      <div class="container">
        <h2>{{post.titulo}}</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">{{sesionService.msg.lbl_blog}}</a></li>
          <li class="breadcrumb-item"><a href="index.html#blog">{{sesionService.msg.lbl_posts}}</a></li>
          <li class="breadcrumb-item active">{{post.titulo}}</li>
        </ul>
      </div>
    </div>
    <!-- /header wrapper -->

    <!-- Menú Responsive -->
    <div id="accordian" *ngIf="showMenuMovil">
      <ul style="background-color:#ffffffd9">
        <li>
          <ul>
            <li><a href="#home"><i class="pi pi-home font-12px iconMovilPad"></i>{{sesionService.msg.lbl_inicio}}</a>
            </li>
            <li><a href="#about"><i
                  class="pi pi-info-circle font-12px iconMovilPad"></i>{{sesionService.msg.lbl_bio}}</a></li>
            <li><a href="#team"><i class="pi pi-star font-12px iconMovilPad"></i>{{sesionService.msg.lbl_banda}}</a>
            </li>
            <li><a href="#portfolio"><i
                  class="pi pi-images font-12px iconMovilPad"></i>{{sesionService.msg.lbl_galeria_media}}</a>
            </li>
            <li><a href="#service"><i
                  class="pi pi-sliders-v font-12px iconMovilPad"></i>{{sesionService.msg.lbl_participaciones}}</a>
            </li>
            <li><a href="#pricing"><i
                  class="pi pi-share-alt font-12px iconMovilPad"></i>{{sesionService.msg.lbl_comparte}}</a></li>
            <li>
              <a href="#publicaciones">
                <i class="pi pi-clone font-12px iconMovilPad"></i>
                {{sesionService.msg.lbl_ultimas_publicaciones}}
              </a>
            </li>
            <li>
              <a (click)="redirigirBlogsBlog()">
                <i class="pi pi-comments font-12px iconMovilPad"></i>
                {{sesionService.msg.lbl_blog}}
              </a>
            </li>
            <li *ngIf="esUsuarioLogueadoActivoBlog()">
              <a>
                <i class="pi pi-users font-12px iconMovilPad"></i>
                {{usuarioAutorTBLogin.usuario}}
              </a>
            </li>
            <li *ngIf="esUsuarioLogueadoActivoBlog()">
              <a (click)="abrirModalUpdateUserBlog()">
                <i class="pi pi-user-edit font-12px iconMovilPad"></i>
                {{sesionService.msg.lbl_actualizar_usuario}}
              </a>
            </li>
            <li *ngIf="esUsuarioLogueadoActivoBlog()">
              <a (click)="cerrarSesionBlog()">
                <i class="pi pi-power-off font-12px iconMovilPad"></i>
                {{sesionService.msg.lbl_tip_cerrar_sesion}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /Menú Responsive -->
  </header>
  <!-- /Header -->

  <!-- Notificaciones -->
  <p-toast></p-toast>

  <!-- Blog -->
  <div id="blog" class="section md-padding" *ngIf="post !== undefined">
    <!-- Container -->
    <div class="container">
      <!-- Row -->
      <div class="row">
        <!-- ASIDE -->
        <app-aside></app-aside>
        <!-- ASIDE -->

        <!-- Main -->
        <main id="main" class="col-md-9">
          <div class="blog">
            <div class="blog-img">
              <img class="img-responsive" [src]="obtenerArchivoSanitizadoDeMapa(post.urlImagen)" alt="">
            </div>
            <div class="blog-content">
              <ul class="blog-meta">
                <li><i class="fa fa-user"></i>{{post.usuarioAutorTB.nombres}} {{post.usuarioAutorTB.apellidos}}</li>
                <li><i class="fa fa-clock-o"></i>{{post.fechaCreacion | date:'dd/MM/yyyy'}}</li>
                <li><i class="fa fa-clock-o"></i>{{convertirFechaBlog(post.fechaCreacion)}}</li>
                <li><i class="fa fa-comments"></i>{{post.cantidadComentarios}}</li>
                <li><i class="fa fa-arrow-right"></i>({{obtenerCategoria(post.categoria)}})</li>
                <li>
                  <div class="fb-share-button" data-href="http://localhost:4200/#/home" data-layout="button_count"
                    data-size="large"><a target="_blank"
                      href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A4200%2F%23%2Fhome&amp;src=sdkpreparse"
                      class="fb-xfbml-parse-ignore">Compartir</a></div>
                </li>
              </ul>

              <h3>{{post.titulo}}</h3>
              <h5>{{post.subtitulo}}</h5>
              <p>{{post.articulo}}</p>
            </div>

            <!-- blog tags -->
            <div class="blog-tags">
              <h5>{{sesionService.msg.lbl_tags}}</h5>
              <a *ngFor="let tag of listaTags">
                <i class="fa fa-tag"></i>{{tag}}
              </a>
            </div>
            <!-- blog tags -->

            <!-- blog author -->
            <div class="blog-author">
              <div class="media">
                <div class="media-left">
                  <img class="media-object imagePerfil" style="height: 100px;width: 100px;"
                    [src]="obtenerArchivoSanitizadoDeMapa(post.usuarioAutorTB.urlImagen)" alt="">
                </div>
                <div class="media-body">
                  <div class="media-heading">
                    <h3>{{post.usuarioAutorTB.nombres}} {{post.usuarioAutorTB.apellidos}}</h3>
                    <div class="author-social">
                      <a><i class="fa fa-facebook"></i></a>
                      <a><i class="fa fa-twitter"></i></a>
                      <a><i class="fa fa-google-plus"></i></a>
                      <a><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                  <p>{{post.usuarioAutorTB.resena}}</p>
                </div>
              </div>
            </div>
            <!-- /blog author -->

            <!-- blog comments -->
            <div class="blog-comments">
              <h3 class="title">({{post.cantidadComentarios}}) Comentarios</h3>

              <!-- comment -->
              <div *ngIf="listaComentarios.length > 0; else sinResultadosComment"
                style="max-height: 700px;overflow-y: auto;overflow-x: hidden;" class="service-grids">
                <p-scrollPanel #scrollBlogComentarios [style]="{width: '100%', height: '100vh'}" styleClass="custom">
                  <div *ngFor="let comentario of listaComentarios" class="media">
                    <div class="media-left">
                      <img class="media-object imagePerfil" style="height: 50px;width: 50px;"
                        [src]="obtenerArchivoSanitizadoDeMapa(comentario.usuarioAutorTB.urlImagen)" alt="">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        {{comentario.usuarioAutorTB.nombres}}
                        {{comentario.usuarioAutorTB.apellidos}}
                        <span class="time">{{convertirFechaBlog(comentario.fechaCreacion)}}</span>
                        <a (click)="toggleRespuesta(comentario.id)"
                          class="reply cursorPointer">{{sesionService.msg.lbl_responder}}
                          <i class="fa fa-reply"></i>
                        </a>
                      </h4>
                      <p>{{comentario.comentario}}</p>

                      <div id="comment{{comentario.id}}" class="reply-form displayNone">
                        <textarea pInputTextarea [(ngModel)]="respuestaNueva" size="1000"
                          placeholder="{{sesionService.msg.lbl_mensaje_agrega_comentario}}"></textarea>
                        <button
                          [disabled]="usuarioAutorTBLogin === undefined || usuarioAutorTBLogin === null || usuarioAutorTBLogin.id <= 0"
                          (click)="responderComentario(comentario.id)" type="submit"
                          class="main-btn">{{sesionService.msg.lbl_responder}}</button>
                      </div>
                    </div>

                    <!-- author reply comment -->
                    <div *ngIf="obtenerRespuestas(comentario).length > 0" class="service-grids margin-verticals-10px">
                      <div *ngFor="let respuesta of obtenerRespuestas(comentario)" class="media author">
                        <div class="media-left">
                          <img class="media-object imagePerfil" style="height: 50px;width: 50px;"
                            [src]="obtenerArchivoSanitizadoDeMapa(respuesta.usuarioAutorTB.urlImagen)" alt="">
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">
                            {{respuesta.usuarioAutorTB.nombres}}
                            {{respuesta.usuarioAutorTB.apellidos}}
                            <span class="time">{{convertirFechaBlog(respuesta.fechaCreacion)}}</span>
                          </h4>
                          <p>{{respuesta.comentario}}</p>
                        </div>
                      </div>
                    </div>
                    <!-- /comment -->
                  </div>
                </p-scrollPanel>
              </div>
              <ng-template #sinResultadosComment>
                <div class="service-grids">
                  <div class="col-md-12 ser-grid">
                    <p class="sinResultados shiny">{{sesionService.msg.lbl_info_sin_resultados}}</p>
                  </div>
                </div>
              </ng-template>
              <!-- /comment -->
            </div>
            <!-- /blog comments -->

            <!-- reply form -->
            <div class="reply-form">
              <h3 class="title">{{sesionService.msg.lbl_mtto_generico_opinion}}</h3>
              <textarea pInputTextarea [(ngModel)]="comentarioNuevo" size="1000"
                placeholder="{{sesionService.msg.lbl_mensaje_agrega_comentario}}"></textarea>
              <button
                [disabled]="usuarioAutorTBLogin === undefined || usuarioAutorTBLogin === null || usuarioAutorTBLogin.id <= 0"
                (click)="crearComentario()" type="submit"
                class="main-btn">{{sesionService.msg.lbl_btn_comentar}}</button>
            </div>
            <!-- /reply form -->
          </div>
        </main>
        <!-- /Main -->
      </div>
      <!-- /Row -->
    </div>
    <!-- /Container -->
  </div>
  <!-- /Blog -->

  <!-- FOOTER -->
  <app-footer></app-footer>
  <!-- FOOTER -->

</p-scrollPanel>