<p-scrollPanel #scrollBlog [style]="{width: '100%', height: '100vh'}" styleClass="custom">

  <!-- Header -->
  <app-header-o></app-header-o>
  <!-- /Header -->

  <!-- Notificaciones -->
  <p-toast></p-toast>

  <!-- header wrapper -->
  <div class="header-wrapper sm-padding bg-grey">
    <div class="container">
      <h2>{{post.titulo}}</h2>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">{{sesionService.msg.lbl_blog}}</a></li>
        <li class="breadcrumb-item"><a href="index.html#blog">{{sesionService.msg.lbl_posts}}</a></li>
        <li class="breadcrumb-item active">{{post.titulo}}</li>
      </ul>
    </div>
  </div>
  <!-- /header wrapper -->

  <!-- Blog -->
  <div id="blog" class="section md-padding" *ngIf="post !== undefined">
    <!-- Container -->
    <div class="container">
      <!-- Row -->
      <div class="row">
        <!-- ASIDE -->
        <app-aside></app-aside>
        <!-- ASIDE -->

        <!-- Main -->
        <div class="col-md-9">
          <div class="blog no-margin">
            <div class="blog-img">
              <ul class="bannerImgBlog blog-meta displayFlex">
                <li style="margin-top: 10px;" *ngIf="postMeGustaDTO !== undefined && postMeGustaDTO !== null">
                  <span class="p-overlay-badge p-mr-5">
                    <i class="pi pi-star starCalMG"></i>
                    <span class="p-badge p-badge-xl p-badge-danger"
                      style="font-size: 18px;">{{postMeGustaDTO.promedioCalificacion}}</span>
                  </span>
                </li>
                <li style="margin-top: -2px;">
                  <div class="fb-share-button" data-href="http://localhost:4200/#/home" data-layout="button_count"
                    data-size="large"><a target="_blank"
                      href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A4200%2F%23%2Fhome&amp;src=sdkpreparse"
                      class="fb-xfbml-parse-ignore">Compartir</a></div>
                </li>
              </ul>
              <img class="img-responsive w100" [src]="obtenerArchivoSanitizadoDeMapa(post.urlImagen)" alt="">
            </div>
            <div class="blog-content">
              <ul class="blog-meta">
                <li>
                  <p-rating [(ngModel)]="meGustaTB.calificacion" (onRate)="calificarMG($event)" [cancel]="false">
                  </p-rating>
                </li>
                <li><i class="fa fa-user"></i>{{post.usuarioAutorTB.nombres}} {{post.usuarioAutorTB.apellidos}}</li>
                <li><i class="fa fa-calendar"></i>{{post.fechaCreacion | date:'dd/MM/yyyy'}}</li>
                <li><i class="fa fa-clock-o"></i>{{convertirFechaBlog(post.fechaCreacion)}}</li>
                <li><i class="fa fa-comments"></i>{{post.cantidadComentarios}}</li>
                <li><i class="fa fa-arrow-right"></i>({{obtenerCategoria(post.categoria)}})</li>
              </ul>
              <h3>{{post.titulo}}</h3>
              <h5>{{post.subtitulo}}</h5>
              <p>{{post.articulo}}</p>
            </div>

            <!-- blog tags -->
            <div class="blog-tags">
              <h5>{{sesionService.msg.lbl_mtto_post_tags}}</h5>
              <a *ngFor="let tag of listaTags">
                <i class="fa fa-tag"></i>{{tag}}
              </a>
            </div>
            <!-- blog tags -->

            <!-- blog author -->
            <div class="blog-author">
              <h3 class="title">{{sesionService.msg.lbl_autor}}</h3>

              <div class="media">
                <div class="media-left">
                  <img class="media-object imagePerfil" style="height: 100px;width: 100px;"
                    [src]="obtenerArchivoSanitizadoDeMapa(post.usuarioAutorTB.urlImagen)" alt="">
                </div>

                <div class="media-body">
                  <div class="media-heading">
                    <h3>{{post.usuarioAutorTB.nombres}} {{post.usuarioAutorTB.apellidos}}</h3>
                    <div class="author-social">
                      <a *ngIf="post.usuarioAutorTB.linkFbook !== undefined && post.usuarioAutorTB.linkFbook !== null"
                        href="{{post.usuarioAutorTB.linkFbook}}" target="_blank"><i class="fa fa-facebook"></i></a>
                      <a *ngIf="post.usuarioAutorTB.linkTwitter !== undefined && post.usuarioAutorTB.linkTwitter !== null"
                        href="{{post.usuarioAutorTB.linkTwitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                      <a *ngIf="post.usuarioAutorTB.linkGoogle !== undefined && post.usuarioAutorTB.linkGoogle !== null"
                        href="{{post.usuarioAutorTB.linkGoogle}}" target="_blank"><i class="fa fa-google-plus"></i></a>
                      <a *ngIf="post.usuarioAutorTB.linkInstagram !== undefined && post.usuarioAutorTB.linkInstagram !== null"
                        href="{{post.usuarioAutorTB.linkInstagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                  </div>
                  <p>{{post.usuarioAutorTB.resena}}</p>
                </div>
              </div>
            </div>
            <!-- /blog author -->

            <!-- blog comments -->
            <div class="blog-comments">
              <h3 class="title">({{post.cantidadComentarios}}) {{sesionService.msg.lbl_comentarios}}</h3>

              <!-- comment -->
              <div *ngIf="listaComentarios.length > 0; else sinResultadosComment"
                style="max-height: 700px;overflow-y: auto;overflow-x: hidden;" class="service-grids">
                <p-scrollPanel #scrollBlogComentarios [style]="{width: '100%', height: '100vh'}" styleClass="custom">
                  <div *ngFor="let comentario of listaComentarios" class="media">
                    <div class="media-left">
                      <img class="media-object imagePerfil" style="height: 50px;width: 50px;"
                        [src]="obtenerArchivoSanitizadoDeMapa(comentario.usuarioAutorTB.urlImagen)" alt="">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        {{comentario.usuarioAutorTB.nombres}}
                        {{comentario.usuarioAutorTB.apellidos}}
                        <span class="time">{{convertirFechaBlog(comentario.fechaCreacion)}}</span>
                        <a (click)="toggleRespuesta(comentario.id)"
                          class="reply cursorPointer">{{sesionService.msg.lbl_responder}}
                          <i class="fa fa-reply"></i>
                        </a>
                      </h4>
                      <p>{{comentario.comentario}}</p>

                      <div id="comment{{comentario.id}}" class="reply-form displayNone">
                        <textarea pInputTextarea [(ngModel)]="respuestaNueva" size="1000"
                          placeholder="{{sesionService.msg.lbl_mensaje_agrega_comentario}}"></textarea>
                        <button
                          [disabled]="usuarioAutorTBLogin === undefined || usuarioAutorTBLogin === null || usuarioAutorTBLogin.id <= 0"
                          (click)="responderComentario(comentario.id)" type="submit"
                          class="main-btn">{{sesionService.msg.lbl_responder}}</button>
                      </div>
                    </div>

                    <!-- author reply comment -->
                    <div *ngIf="obtenerRespuestas(comentario).length > 0" class="service-grids margin-verticals-10px">
                      <div *ngFor="let respuesta of obtenerRespuestas(comentario)" class="media author">
                        <div class="media-left">
                          <img class="media-object imagePerfil" style="height: 50px;width: 50px;"
                            [src]="obtenerArchivoSanitizadoDeMapa(respuesta.usuarioAutorTB.urlImagen)" alt="">
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">
                            {{respuesta.usuarioAutorTB.nombres}}
                            {{respuesta.usuarioAutorTB.apellidos}}
                            <span class="time">{{convertirFechaBlog(respuesta.fechaCreacion)}}</span>
                          </h4>
                          <p>{{respuesta.comentario}}</p>
                        </div>
                      </div>
                    </div>
                    <!-- /comment -->
                  </div>
                </p-scrollPanel>
              </div>
              <ng-template #sinResultadosComment>
                <div class="service-grids">
                  <div class="col-md-12 ser-grid">
                    <p class="sinResultados shiny">{{sesionService.msg.lbl_info_sin_resultados}}</p>
                  </div>
                </div>
              </ng-template>
              <!-- /comment -->
            </div>
            <!-- /blog comments -->

            <!-- reply form -->
            <div class="reply-form">
              <h3 class="title">{{sesionService.msg.lbl_mtto_generico_opinion}}</h3>
              <textarea pInputTextarea [(ngModel)]="comentarioNuevo" size="1000"
                placeholder="{{sesionService.msg.lbl_mensaje_agrega_comentario}}"></textarea>
              <button
                [disabled]="usuarioAutorTBLogin === undefined || usuarioAutorTBLogin === null || usuarioAutorTBLogin.id <= 0"
                (click)="crearComentario()" type="submit"
                class="main-btn">{{sesionService.msg.lbl_btn_comentar}}</button>
            </div>
            <!-- /reply form -->
          </div>
        </div>
        <!-- /Main -->
      </div>
      <!-- /Row -->
    </div>
    <!-- /Container -->
  </div>
  <!-- /Blog -->

  <!-- FOOTER -->
  <app-footer></app-footer>
  <!-- FOOTER -->

</p-scrollPanel>